
.butt-container{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
  }

  .skillContainer{
    display: flex;
    align-items: center;
    margin: 0px 20px 20px 20px;
  }

  .confirm, .cancel{
    width: 30px;
    margin: 0px 5px;
  }